@import "mocha.css";

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
}

window#waybar {
    background-color: transparent;
    border: none;
    color: #cdd6f4;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #cdd6f4;
}

#pulseaudio:hover {
    background-color: #b4befe;
}

#workspaces button {
    padding: 0 5px;
    background-color: #ca9ee6; /* Workspaces background color */
    color: #cdd6f4;
    border-radius: 8px;
    padding: 5px 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused, #workspaces button.active {
    background-color: #585b70;
    box-shadow: inset 0 -3px #cdd6f4;
}

#workspaces button.urgent {
    background-color: #f38ba8;
}

#mode {
    background-color: #585b70;
    box-shadow: inset 0 -3px #cdd6f4;
}

#clock {
    background-color: #cba6f7;
    color: #cdd6f4;
    border-radius: 8px;
    padding: 5px 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#battery {
    background-color: #f5e0dc;
    color: #000000;
    border-radius: 8px;
    padding: 5px 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#battery.charging, #battery.plugged {
    color: #cdd6f4;
    background-color: #a6e3a1;
    border-radius: 8px;
    padding: 5px 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@keyframes blink {
    to {
        background-color: #f5e0dc;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f38ba8;
    color: #f5e0dc;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
    border-radius: 8px;
    padding: 5px 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#power-profiles-daemon {
    padding-right: 15px;
}

#power-profiles-daemon.performance {
    background-color: #f38ba8;
    color: #cdd6f4;
    border-radius: 8px;
    padding: 5px 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#power-profiles-daemon.balanced {
    background-color: #89b4fa;
    color: #cdd6f4;
    border-radius: 8px;
    padding: 5px 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#power-profiles-daemon.power-saver {
    background-color: #b4befe;
    color: #cdd6f4;
    border-radius: 8px;
    padding: 5px 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: #f9e2af;
    color: #cdd6f4;
    border-radius: 8px;
    padding: 5px 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#memory {
    background-color: #ca9ee6;
    color: #cdd6f4;
    border-radius: 8px;
    padding: 5px 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#disk {
    background-color: #ca9ee6;
    color: #cdd6f4;
    border-radius: 8px;
    padding: 5px 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#backlight {
    background-color: #89dceb;
    color: #cdd6f4;
    border-radius: 8px;
    padding: 5px 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#network {
    background-color: #89dceb;
    color: #cdd6f4;
    border-radius: 8px;
    padding: 5px 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#network.disconnected {
    background-color: #f38ba8;
    color: #cdd6f4;
    border-radius: 8px;
    padding: 5px 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#wireplumber {
    background-color: #b4befe;
    color: #cdd6f4;
    border-radius: 8px;
    padding: 5px 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#wireplumber.muted {
    background-color: #89dceb;
    color: #cdd6f4;
    border-radius: 8px;
    padding: 5px 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#custom-media {
    background-color: #b4befe;
    color: #cdd6f4;
    min-width: 100px;
    border-radius: 8px;
    padding: 5px 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#custom-media.custom-spotify {
    background-color: #b4befe;
    color: #cdd6f4;
    border-radius: 8px;
    padding: 5px 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#custom-media.custom-vlc {
    background-color: #f38ba8;
    color: #cdd6f4;
    border-radius: 8px;
    padding: 5px 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#temperature {
    background-color: #f38ba8;
    color: #cdd6f4;
    border-radius: 8px;
    padding: 5px 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#temperature.critical {
    background-color: #f38ba8;
    color: #cdd6f4;
    border-radius: 8px;
    padding: 5px 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#tray {
    background-color: #89dceb;
    color: #cdd6f4;
    border-radius: 8px;
    padding: 5px 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #f38ba8;
    color: #cdd6f4;
    border-radius: 8px;
    padding: 5px 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#idle_inhibitor {
    background-color: #585b70;
    color: #cdd6f4;
    border-radius: 8px;
    padding: 5px 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#idle_inhibitor.activated {
    background-color: #cdd6f4;
    color: #585b70;
    border-radius: 8px;
    padding: 5px 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#mpd {
    background-color: #b4befe;
    color: #cdd6f4;
    border-radius: 8px;
    padding: 5px 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#mpd.disconnected {
    background-color: #f38ba8;
    color: #cdd6f4;
    border-radius: 8px;
    padding: 5px 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#mpd.stopped {
    background-color: #89dceb;
    color: #cdd6f4;
    border-radius: 8px;
    padding: 5px 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#mpd.paused {
    background-color: #ca9ee6;
    color: #cdd6f4;
    border-radius: 8px;
    padding: 5px 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#language {
    background: #ca9ee6;
    color: #cdd6f4;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
    border-radius: 8px;
    padding: 5px 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#keyboard-state {
    background: #b4befe;
    color: #cdd6f4;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
    border-radius: 8px;
    padding: 5px 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: white;
}

#privacy-item.screenshare {
    background-color: #f38ba8;
    color: #cdd6f4;
    border-radius: 8px;
    padding: 5px 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#privacy-item.audio-in {
    background-color: #b4befe;
    color: #cdd6f4;
    border-radius: 8px;
    padding: 5px 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#privacy-item.audio-out {
    background-color: #89dceb;
    color: #cdd6f4;
    border-radius: 8px;
    padding: 5px 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

